*{
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

main{
    width: 100%;
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 56px;
    color:#75B79E;
    font-weight: 700;
    margin:40px;

}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    border: 1px solid #99ceab;
    background-color: #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartas-frente img{
    width: 100px;

}